<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Content</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Theme's Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/theme.css}" />
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</head>
<body>

<!-- Nav -->
<div class="navbar-fixed">
    <nav class="z-depth-0 grey darken-4">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Plands</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/#about">About</a></li>
                <li><a href="/#staff">Staff</a></li>
                <li><a href="/#vip">Patron</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/#about">About</a></li>
                <li><a href="/#staff">Facts</a></li>
                <li><a href="/#vip">Patron</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- / Nav -->

<div class="container">
    <div class="section">
        <h1 class="center-align">Edit Content</h1>
        <form th:action="@{/admin/content/save}" th:object="${content}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input type="hidden" th:field="*{id}">
                    <input id="key" type="text" th:field="*{key}" required>
                    <label for="key">Key</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="value" class="materialize-textarea" th:field="*{value}" required></textarea>
                    <label for="value">Value</label>
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="btn waves-effect waves-light grey darken-4">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer grey darken-4 z-depth-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Другое</h5>
                <p class="grey-text text-lighten-4">Переходите в наши соцсети и играйте вместе!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Наши соцсети</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://discord.gg/3vwKchsz">Discord</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://t.me/+1Zx_IhHKHrFlODdi">Telegram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4 z-depth-4">
        <div class="container">
            Created with care, by Plands Team
            <a class="grey-text text-lighten-4 right" href="#!">©Pioneer Lands 2023</a>
        </div>
    </div>
</footer>
<!-- /Footer -->

<script>
    $(document).ready(function() {
      Materialize.updateTextFields();
    });
</script>

</body>
</html>
